{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="post-related">
    <span class="related-header">推荐阅读</span>
    <div class="relate-posts">
        {{ range . }}
        <div class="relate-post">
            <div class="post-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <time datetime='{{.Date.Format "2006-01-02 15:04:01" }}' class="post-date">{{ .Date | time.Format ":date_long" }}</time>
            </div>
                    
            {{ if .Content }}
                {{ $urls := findRE "<img src=\"[^\"|\\\"]*\"" .Content }} 
                {{ if $urls }}
                    {{ $url :=index ($urls) 0 }} 
                    {{ $url :=(strings.TrimPrefix "<img src=\"" $url) }}
                    {{ $url := strings.TrimRight " \"" $url }}
                    <img src="{{ $url }}" class="cover" />    
                {{ end }}
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}